## Service for Frontend
apiVersion: v1
kind: Service
metadata:
  name: act-frontend-clusterip
spec:
  ports:
    - name: act-frontend
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: act-frontend
  type: ClusterIP

---

## Frontend Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: act-frontend
  labels:
    app: act-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: act-frontend
  template:
    metadata:
      labels:
        app: act-frontend
    spec:
      containers:
        - resources: {}
          name: act-frontend
          image: hicsail/act-frontend:main
          terminationMessagePath: /dev/termination-log
          envFrom:
            - secretRef:
                name: act-frontend-creds
          ports:
            - containerPort: 8080
              protocol: TCP
          imagePullPolicy: Always
          terminationMessagePolicy: File
      imagePullSecrets:
        - name: dockerhub-image-pull-secret
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: Recreate
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
